<!DOCTYPE html>
html
    head
        meta(http-equiv='content-type',content='text/html charset=utf-8')
        meta(description='Windowsxp pug/scss animationページです')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
        title Windowsxp pug/scss animation
        link(href='css/windowsxp.css', type='text/css', rel='stylesheet')
    body
        #container
            .windows__bg
              .windows__bg--inner
                .windows__logo
                    .windows__logo--inner.red
                    .windows__logo--inner.green
                    .windows__logo--inner.blue
                    .windows__logo--inner.yellow
                .windows__name
                    p Microsoft
                    .windows__name--inner Windows
                      span xp
                .windows__bg--loading
                    ul
                      li
                      li
                      li